@import 'https://fonts.googleapis.com/css?family=Give+You+Glory';
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'Give You Glory', cursive;
  height: auto;
}

.container {
  margin: auto;
  width: 60%;
  height: auto;
  padding: -20px;
}

html {
  width: 100%;
  height: auto;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
}

.nav {
  height: 60px;
  margin: auto;
  margin-top: 80px;
  background: transparent;
  padding: 0;
  font-family: 'Give You Glory';
  text-align: center;
  list-style-type: none;
  position: relative;
  width: 100%;
}

.sub {
  margin-top: 0;
  height: 40px;
    width: 50%;
    margin: auto;
  background: #404040;
}

.sub li a {
  height: 40px !important;
  line-height: 40px !important;
  background: #404040 !important;
  font-size: 25px !important;
}

.nav li {
  display: inline-table;
  position: relative;
  vertical-align: top;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation-wrap {
    margin-top: 20px;
    padding-top: 40px;
}
	
.nav li a:hover {
  opacity: 0.8;
  height: 65px;
  color: #3f3f3f;
}

.subli {
	margin: 0;
	padding: 10px;
	background: #585046;
	list-style-type: none;
	display: none;
	position: absolute;
	z-index: 99;
	color: white;
	width: auto;
	text-align: left;
}

.subli li {
	margin: 0;
	padding: 0;
	color: white;
}

.subli li a {
	width: auto;
	height: 60px;
	color: white !important;
}

.nav li:hover .subli {
	display: block;
	min-width: 160px;

}
.clickable {
  text-align: center !important;
  background-color: #3f3f3f !important;
}

.sub {
  text-align: right;
    width: 
}
.sub a {
  color: white !important;
  margin-right: 10px;
}
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.hover_marmer {
}
.nav li a {
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Give You Glory';
  font-size: 30px;
}

/* FLUID BOXES + HEADER */

.fluid-box {
  height: 500px;
  text-align: center;
  width: 100% !important;
  margin-left: 0px;
  padding: 0;
  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;
  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.fluid-box-products {
  height: auto;
  text-align: center;
}
.av-line {
  display: inline-block;
  height: 1px;
  border-top: 2px solid black;
  margin: 0 50;
  width: 200px;
  vertical-align: auto;
}
.fluid-box h1 {
  font-size: 50px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
}

.fluid-box p {
  margin-top: 0;
}
.fluid-box-1 {
  margin-top: 0;
  text-align: center;
  height: auto;
}

.fluid-box-1 p {
  font-size: 30px;
}

.current-info {
  width: auto;
  height: 800px;
  border: solid 5px green;
  margin: 25 0;
}
.fluid-box-2 {
  height: auto;
}

.entr-img img {
  width: 20%;
  display: inline-block;
}

.entr-img {
  display: inline-block;
  float: left;
}

.fluid-box-3 {
  margin-top: 50px;
  height: auto;
}
.fluid-box-3 p {
  display: inline-block;
  margin-top: 0;
}

.fluid-box-3 h1 {
  margin-bottom: 0;
}
.fluid-box-3 img {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.fluid-box-4 {
    height: auto;
    margin-bottom: 50px;
}

.fluid-box-4 form {
  margin: auto;
  width: 70%;
}

.fluid-box-4 label {
  font-size: 25px;
}

#bericht {
  height: 200px;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  padding-left: 10px;
  font-size: 25px;
}

input[type=text], input[type=email], input[type=password], #id_password {
  width: 500px !important;
  height: 50px !important;
  font-family: 'Amatic SC', cursive;
  padding-left: 10px;
  font-size: 25px;
}

#submit {
  height: 60px;
  width: 200px;
  border: none;
  background: transparent;
  outline: none;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

#submit:hover {
  border: 1px solid #404040;
  cursor: pointer;
}
.banner-index {
  text-align: center;
  height: 300px;
  display: block;
  position: relative;
    margin-top: 0;
  -moz-animation-name: dropNav;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;
  -webkit-animation-name: dropNav;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-name: dropNav;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.banner-index img {
  width: 20%;
  line-height: 300px;
  margin-top: 10px;
  vertical-align: middle;
}
.banner-index::after {
  background-position: bottom;
  background-size: 40%;
  opacity: 0.3;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.banner-index h1 {
  margin: 0;
  font-size: 100px;
  line-height: 250px;
}

.banner-index h3 {
  margin: 0;
  font-size: 50px;
  color: grey;
  line-height: 150px;
}

/* TABLE EVENTS */

.table-index {
  width: 100%;
}
.table-products, .table-products-total {
  margin: auto;
}
.table-products td {
  width: 300px;
  display: inline-table;
}

.beschrijving-product-new {
  width: 50% !important;
  padding-left: 15px;
}
td {
  margin: 0;
  padding: 0;
}
.table-index tr {
  height: 230;
  background: #404040;
  color: white;
  text-align: center;
}
.table-products {
  margin-top: 20px;
}
.footer {
  font-family: 'Amatic SC', cursive;
  height: 40px;
  background: #2a2a2a;
  color: white;
  text-align: center;
}

.footer a {
  color: black;
}

.footer a:focus {
  color: white;
}

.header-page {
  width: 100%;
  text-align: right;
  padding: 0;
  border-bottom: dotted 1px #404040;
}

.header-page a {
  color: #404040;
}

/*OVER*/
.over-text {
  font-size: 20px;
}

.over-text img {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

.link-table a {
  color: white;
  text-decoration: none;
  font-family: 'Give You Glory', cursive;
  font-size: 23px;
}

.link-table {
  border-radius: 10px;
  margin: auto;
  width: 50%;
}
.link-table td {
  background-color: #404040;
  padding: 30 20;
  text-align: center;
}

.link-table th {
  background-color: black;
  color: white;
  font-size: 30;
  padding: 20 10;
  font-weight: normal;
}
.link-table a:hover {
  background-color: white;
  color: #404040;
}

/* CONTACT */

form {
  width: 50%;
  display: inline-block;
}

#id_voornaam, #id_email, #id_onderwerp, #id_text{
    width: 500px !important;
}

.form-wrapper {
    text-align: left;
    margin: auto;
    width: 500px;
    display: inline-block;
}

.iframe-google {
  width: 450px;
  display: inline-block;
  vertical-align: top;
  background: red;
  height: 450px;
  margin-left: 50px;
}

.fluid-box-products {
  height: auto;
}
••••••••••
.fluid-box-5 {
  height: auto;
}

/* SHOP OVER */

.fluid-box-products h1 {
    display: block;
}

.col-md-4 {
    width: 100%;
}

.product-form {
    display: inline-table;
    vertical-align: top;
    height: 300px;
    width: 300px;
    background: red;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background: #404040;
}

.inner-product-form {
    margin: auto;
}
.product-form h4 a, .product-form h4 {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.product-form h4 a {
    font-family: 'Amatic SC', serif;
    font-size: 40px;
}

.product-list {
    width: 50%;
    margin: auto;
    text-align: left;
}

.info-box {
    width: 80%;
    float: left;
    display: inline-block;
    height: 90px;
    border-bottom: solid 1px #404040;
}

.info-box h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 90px;
}

.wrap-product-list {
    margin-top: 30px;
}
.info-box p {
    margin: 0;
    padding: 0;
}

.price-box {
    width: 20%;
    float: right;
    display: inline-block;
    height: 90px;
    font-weight: bold;
    line-height: 90px;
    font-size: 30px;
    font-family: 'Amatic SC', serif;
}

.col-md-4 form {
    display: inline-block;
    text-align: left;
    
}


.col-md-4 a h2, .col-md-4 h4 {
    margin: 0;
    padding: 0;
}

.col-md-4 form h4 {
    font-size: 20px;
}

.col-md-4 a h2 {
    font-size: 40px !important;
}

form a {
    text-decoration: none;
}
a .text-info {
    color: black;
    text-decoration: none;
    font-size: 40px !important;
}

.col-md-4 form input[type="submit"]{
    float: right;
    width: 100px;
    display: block;
}

.header {
    font-family: 'Amatic SC';
    font-size: 25px;
    width: 150px;
}

.header-product {
    font-size: 50px;
}

.details-prod {
    font-size: 20px;
    display: inline-block;
    float: right;
}

.image-product-field img {
    width: 20%;
    display: inline-block;
    float: left;
}

.product-wrap {
    padding: 20px;
    margin: auto;
    width: 50%;
}

.cart-content td {
    font-family: 'Amatic SC', serif;
    font-size: 30px;
}

.total-headers > td {
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 25px;
}

.total-table {
    margin-top: 50px;
    float: right;
}

.che {
    border: solid black 1px;
    width: 40%;
    height: 500px;
    display: inline-table;
    vertical-align: top;
    margin-bottom: 100px;
}

.che > h2 {
    font-family: 'Amatic SC', serif;
}
.prod-price {
    font-size: 30px;
}

.prod-desc {
    width: 400px;
}

.header-desc {
    width: 200px;
}

.greeting {
    display: block;
    background: black;
    color: white;
}
/* KEYFRAMES */
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes dropNav {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropNav {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropNav {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
