{% extends 'bits/base.html' %}
{% block content %}
{% load get_item %}
<style>
    th {
    font-size: 30px;
    }

    .table-responsive{
    width: 50%;
    margin: auto;
    }
</style>
<div class="table-responsive">
     <table class="table table-bordered" style="text-align: left; margin: auto">
          <tr>
               <th width="20%">Item Name</th>
               <th width="10%">Quantity</th>
               <th width="10%">Price</th>
                <th width="10%">Size</th>
               <th width="5%">Action</th>
          </tr>
         {% if cart.count != 0 %}
         {% for item in cart %}
          <tr class="cart-content">
                <td>{{ item.product.pr_naam }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.pr_prijs }}</td>
                <td>{{ item.maat }}</td>
                <td><a href="{% url 'bits:deleterow' product_item=item.product.id %}"><span class="text-danger">Remove</span></a></td>
          </tr>
         {% endfor %}
         {% else %}
         <tr>
             <td colspan="5" style="text-align: center; font-size: 30px;">Geen producten!</td>
         </tr>
         {% endif %}
     </table>


</div>
{% endblock %}