{% extends 'bits/base.html' %}
{% load static %}
{% block content %}
{% for t in query %}

      <div class="product-wrap">
        <div class="image-product-field">
            <img src="{% static t.file %}" name="Placeholder">
        </div>
        <div class="product-info-field">
            <form class="add_to_cart" action="" method="post">
                {% csrf_token %}
                {{ form.errors }}
            <table>
                <tr>
                    <td class="header header-product" colspan="2">{{ t.pr_naam }}</td>
                </tr>
                <tr>
                    <td class="header header-desc">Product details:</td>
                    <td class="details-prod prod-desc">{{ t.pr_beschrijving }}</td>
                </tr>
                <tr>
                    <td class="header">Price:</td>
                    <td class="details-prod prod-price">&euro;{{ t.pr_prijs }}</td>
                </tr>
                <tr>
                    <td class="header">Size:</td>
                    <td class="details-prod">
                            {{ form.maat }}
                    </td>
                </tr>
                <tr>
                    <td class="header">Quantity:</td>
                    <td class="details-prod">
                        {{ form.quantity }}
                    </td>
                </tr>
            </table>
                    {{ form.pr_prijs }}
                    {{ form.pr_naam }}
                <input type="submit">
            </form>
          </div>
      </div>
{% endfor %}
{% endblock %}